doctype html(lang='ru')
html
head
	title Рекламное агентство «Ажио»
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(rel='stylesheet', type='text/css', href!='<?php bloginfo( template_directory ); ?>/style.css')
body
	div#wrapper
		header#header
